{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}


{% block main %}
    <h1 class="container-fluid container text-center mt-5">Poster</h1>

    <table class="table table-striped container container-fluid">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poster in posters %}
            <tr>
                <td>{{ poster.id }}</td>
                <td>{{ poster.image }}</td>
                <td>
                    <a href="{{ path('poster_edit', {'id': poster.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Base de données vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('poster_new') }}">Nouveau</a>
    <a class="btn" href="{{ path('admin_index') }}">Accueil</a>

{% endblock %}
