{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1 class="container-fluid container text-center">Notre politique</h1>

    <table class="table table-striped container container-fluid">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ur_policy in ur_policies %}
            <tr>
                <td>{{ ur_policy.id }}</td>
                <td>{{ ur_policy.title }}</td>
                <td>{{ ur_policy.text }}</td>
                <td>
                    <a href="{{ path('ur_policy_edit', {'id': ur_policy.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Base de données vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('ur_policy_new') }}">Nouveau</a>
    <a class="btn" href="{{ path('admin_index') }}">Accueil</a>
{% endblock %}
