{% block title %}Panier{% endblock %}

{% block body %}

    {% if outfit | length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in outfit %}
                <tr>
                    <th>{{ item.outfit.description }}</th>
                    <th>{{ item.outfit.price }}€</th>
                    <th>{{ item.quantity }}</th>
                    <th>{{ item.outfit.price * item.quantity }}€</th>
                    <th><i class="fas fa-trash-alt">
                            <a href="{{ path('cart_remove', {'id': item.outfit.id}) }}" class="btn btn-danger">
                            </a>
                        </i>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total :</td>
                <td>{{ total }}€</td>
            </tr>
            </tfoot>
        </table>
        <form action="" method="post" id="payment-form" class="ml-5">
            <div class="form-row">
                <label for="card-element">
                    Carte de crédit.
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <button>Payer</button>
        </form>

    {% else %}
        <p>Le panier est vide !</p>
    {% endif %}
{% endblock %}