<!DOCTYPE html>

<title>UrPolicy index</title>

{% block body %}
    <h1>UrPolicy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ur_policy in ur_policies %}
            <tr>
                <td>{{ ur_policy.id }}</td>
                <td>{{ ur_policy.title }}</td>
                <td>{{ ur_policy.text }}</td>
                <td>
                    <a href="{{ path('ur_policy_edit', {'id': ur_policy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ur_policy_new') }}">Create new</a>
    <a href="{{ path('admin_index') }}">Home admin</a>
{% endblock %}
