{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1 class="container-fluid container text-center mt-5">Social</h1>

    <table class="table table-striped container container-fluid">
        <thead>
            <tr>
                <th>Id</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Linkedin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for social in socials %}
            <tr>
                <td>{{ social.id }}</td>
                <td>{{ social.facebook }}</td>
                <td>{{ social.instagram }}</td>
                <td>{{ social.Linkedin }}</td>
                <td>
                    <a href="{{ path('social_edit', {'id': social.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Base de données vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('social_new') }}">Nouveau</a>
    <a class="btn" href="{{ path('admin_index') }}">Accueil</a>

{% endblock %}
