<!DOCTYPE html>

<title>Social index</title>

{% block body %}
    <h1>Social index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Linkedin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for social in socials %}
            <tr>
                <td>{{ social.id }}</td>
                <td>{{ social.facebook }}</td>
                <td>{{ social.instagram }}</td>
                <td>{{ social.Linkedin }}</td>
                <td>
                    <a href="{{ path('social_edit', {'id': social.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('social_new') }}">Create new</a>
    <a href="{{ path('admin_index') }}">Home admin</a>

{% endblock %}
