{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>ASavoir index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for a_savoir in a_savoirs %}
            <tr>
                <td>{{ a_savoir.id }}</td>
                <td>{{ a_savoir.text }}</td>
                <td>
                    <a href="{{ path('a_savoir_edit', {'id': a_savoir.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('a_savoir_new') }}">Create new</a>
    <a href="{{ path('admin_index') }}">Home admin</a>
{% endblock %}
