{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1 class="container-fluid container text-center">A Savoir</h1>

    <table class="table table-striped container container-fluid">
        <thead>
            <tr>
                <th>Id</th>
                <th>Texte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for a_savoir in a_savoirs %}
            <tr>
                <td>{{ a_savoir.id }}</td>
                <td>{{ a_savoir.text }}</td>
                <td>
                    <a href="{{ path('a_savoir_edit', {'id': a_savoir.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Base de données vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('a_savoir_new') }}">Nouveau</a>
    <a class="btn" href="{{ path('admin_index') }}">Accueil</a>
{% endblock %}
