{% block main %}
    <ul>
        <li><a href="{{ path('who_are_us_index') }}">Admin qui sommes nous</a></li>
        <li><a href="{{ path('ur_policy_index') }}">Admin notre politique</a></li>
        <li><a href="{{ path('asavoir_index') }}">Admin A savoir</a></li>
        <li><a href="{{ path('social_index') }}">Admin social</a></li>
        <li><a href="{{ path('admin_outfits_index') }}">Admin outfits</a></li>

    </ul>
{% endblock main %}
