{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Outfits index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Nom de l'image</th>
            </tr>
        </thead>
        <tbody>
        {% for outfit in outfits %}
            <tr>
                <td>{{ outfit.id }}</td>
                <td>{{ outfit.description }}</td>
                <td>
                    <a href="{{ path('admin_outfits_edit', {'id': outfit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_outfits_new') }}">Create new</a>
    <a href="{{ path('admin_index') }}">Home admin</a>
{% endblock %}
