{% extends 'layout.html.twig' %}

{% block main %}
<div class="outfitcontainer container col-5">
        <div class="card mt-5">
            <img class="card-img-top" src="{{ vich_uploader_asset (outfit, 'imageFile', 'App\\Entity\\Outfits') }}" alt="image">
            <div class="card-body">
                <p class="card-text">{{ outfit.description }}</p>
                <p class="card-text">Prix: {{ outfit.price }}€</p>
                <p class="card-text">Quantité: {{ outfit.quantity }}</p>


                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}

                    <select name="size" id="taille" required>
                    <option value="">Choisissez une taille</option>
                        {% for declinaison in declinaisons %}
                            {% if declinaison.quantite > 0 %}
                                <option value="{{ declinaison.taille }}">{{ declinaison.taille }}, Stock: {{ declinaison.quantite }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                <a href="{{ path('cart_add', {'id': outfit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>
</div>
{% endblock %}
