{% extends 'adminlayout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1 class="container-fluid container text-center mt-5">Déclinaison</h1>

    <table class="table table-striped container container-fluid">
        <thead>
            <tr>
                <th>Nom du vêtement</th>
                <th>Taille</th>
                <th>Quantité</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for declinaison in declinaisons %}
            <tr>
                <td>{{ declinaison.outfits.description }}</td>
                <td>{{ declinaison.taille }}</td>
                <td>{{ declinaison.quantite }}</td>
                <td>
                    <a href="{{ path('declinaison_edit', {'id': declinaison.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Base de données vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('declinaison_new') }}">Nouveau</a>
    <a class="btn" href="{{ path('admin_index') }}">Accueil</a>
{% endblock %}
