<!DOCTYPE html>

<title>Declinaison</title>

{% block body %}
    <h1>Declinaison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ declinaison.id }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ declinaison.taille }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ declinaison.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('declinaison_index') }}">back to list</a>

    <a href="{{ path('declinaison_edit', {'id': declinaison.id}) }}">edit</a>

    {{ include('declinaison/_delete_form.html.twig') }}
{% endblock %}
